import setuptools {# importing the whole thing is easier than yet another layer... #}
{# Note that each include file ends with the string literal '\n'. This is used later for prettification #}
\n
\n
{% include "long_description.j2" %}
\n
{% include "requirements.j2" %}
\n
{% include "packages.j2" %}
\n
{% include "setup.j2" %}
